body {
    padding-left: 1em;
    padding-right: 1em;
    font-family: Arial, sans-serif;
    color: black;
	background: white;
}

h1 {
	font-family: Skia, 'Unica One', Arial, sans-serif;
}

.hidden {
	display: none;
}

#clusterJSON {
    font-family: Consolas, Courier, serif;
}